.control {
    margin-left: 60px;
    margin-top: 20px;
    /* color: white; */
    /* width: 300px; */
}

.container {
    /* margin-top: 30px; */
    margin: auto;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);

}

.label {
    color: white;
    padding-left: 60px;
}

.button {
    margin-left: 60px;
    margin-top: 10px;
}