.alert {
    margin: auto;
    margin-top: 20px;
    width: 800px;
}

.alert-container {
    /* margin-top: 30px; */
    margin: auto;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);
    height: 100vh;
    width: 80vw;

}

.alert-title {
    color:white;
}
