.addvehicle-card {
    background: rgba(129, 129, 129, 0.95);
    margin: auto;
    margin-left: 30px;
    margin-top: 20px;
    width: 600px;
    text-align: left;
}

.container {
    /* margin-top: 30px; */
    margin: auto;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);

}

.addvehicle-img {
    height: 70px;
    width: 580px;
    margin: auto;
    margin-top: 7px;
    /* background-image: url("car-wheel-vehicle-auto-business-sports-car-638797-pxhere.com.jpg"); */
}

.addvehicle-button {
    margin: auto;
    width: 120px;
}

.addvehicle-title {
    color: white;
    text-align: center;
}
