

footer {
background-color: black;
}

.divider {
width: 5px;
height: auto;
display: block;
}

body {
background: url('light-black-and-white-white-car-photography-vintage-919329-pxhere.com.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.image {
margin: 0;
text-align: center;
padding-top: 10%;
padding-bottom: 10%;
}

.home-title {
    color: white;
    font-size: x-large;
}

.home-text {
    color: white;
    font-size: medium;
}

.container {
    /* margin-top: 30px; */
    margin: auto;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);
}

.home-container {
    /* margin-top: 30px; */
    margin: auto;
    margin-bottom: 0;
    margin-left: 80px;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);
}

.home-container-green {
    /* margin-top: 30px; */
    margin-bottom: 0;
    margin-left: 80px;
    padding-top: 20px;
    background:  rgba(116, 61, 161, 0.664);
}

.home-row {
    height: 30vh
}