.special-card {
    background: rgba(129, 129, 129, 0.95);
    margin: auto;
    margin-top: 20px;
    color: white;
    width: 800px;
    text-align: center;
}

.container {
    /* margin-top: 30px; */
    margin: auto;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);

}

.title {
    color: white;
}

.button {
    margin-left: 4px;
    margin-right: 4px;
}