.logout-card {
    background: rgba(129, 129, 129, 0.95);
    margin: auto;
    margin-top: 20px;
    width: 600px;
    text-align: center;
}

.container {
    /* margin-top: 30px; */
    margin: auto;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);

}

.title-logout {
    color: white;
    text-align: center;
}

.button-logout {
    margin-left: 8px;
    margin-right: 8px;
    width: 120px;
}