.create-log-control {
    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
}

.create-log-container {
    margin: auto;
    width: 80vw;
    padding-top: 20px;
    background:  rgba(45, 46, 48, 0.95);

}

.create-log-label {
    color: white;
    padding-left: 60px;
}

.create-log-button {
    margin-left: 60px;
    margin-top: 10px;
}